<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.clilystudio.netbook">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="com.clilystudio.netbook.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.clilystudio.netbook.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>
    <uses-feature android:glEsVersion="0x20000"/>
    <application
        android:name="com.clilystudio.netbook.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name="com.clilystudio.netbook.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splash_NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.clilystudio.netbook.ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.AuthLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.UserInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.UserTaskActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.UserLevelActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.MyMessageActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.UnimportantNotificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCGuideAddCollectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCGuideEditBooksActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.MyUGCBookListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCGuideAddBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCGuideSelectBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.ugcbook.UGCDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="zhuishushenqi.com"
                    android:pathPrefix="/ugcdetail"
                    android:scheme="ushaqi"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.clilystudio.netbook.ui.BookInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.BookRankListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.RelateBookListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.BookRankDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.BookCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.BookCategoryListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.BookTagListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ReaderResActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme_Dark"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ReaderOptionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.reader.LocalChapterListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme_Dark"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ReaderActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:theme="@style/ReaderTheme"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ReaderWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ReaderTheme"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ModeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme_Dark"/>
        <activity
            android:name="com.clilystudio.netbook.reader.ReaderMixActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme_Dark"/>
        <activity
            android:name="com.clilystudio.netbook.ui.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.AuthorBooksActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.CustomSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.AddBookFailedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.DisclaimerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".ui.DisclaimerActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.clilystudio.netbook.ui.feed.FeedAddActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.feed.FeedListActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.feed.FeedSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.UserUGCActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.UserTopicActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clilystudio.netbook.ui.user.ModifyUserInfoActivity"
            android:exported="true"
            android:parentActivityName="com.clilystudio.netbook.ui.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clilystudio.netbook.ui.BaseActivity"/>
        </activity>
        <activity
            android:name="com.clilystudio.netbook.ui.CropPhotoActivity"
            android:parentActivityName="com.clilystudio.netbook.ui.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clilystudio.netbook.ui.BaseActivity"/>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.clilystudio.netbook.ui.home.HomeTransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name="com.clilystudio.netbook.ui.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <service
            android:name="com.clilystudio.netbook.reader.dl.BookDownloadService"
            android:exported="false"/>

        <receiver android:name="com.clilystudio.netbook.event.ClickDownloadItemReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.clilystudio.netbook.push.MiPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PkgUninstallReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="netbook.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="51307770527015737900000a"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Official"/>
        <meta-data
            android:name="BFD_APPKEY"
            android:value="1413697c84ff002bcdddee9ede58c971"/>
        <meta-data
            android:name="BFD_CHANNEL"
            android:value="Official"/>
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="ef9b8e0f"/>
        <meta-data
            android:name="COMMIT_ID"
            android:value="6767950c8d1bd4b2cac3b1dc9cd8df577d0959fb"/>
        <meta-data
            android:name="app_key"
            android:value="1465c430f5e85b6b39aba101e4b9984b"/>
        <meta-data
            android:name="pack_id"
            android:value="com.clilystudio.netbook"/>

        <activity android:name="com.clilystudio.netbook.ui.BookRankMainActivity"/>

        <meta-data
            android:name="cocosplay_mode"
            android:value="4"/>
        <meta-data
            android:name="MgePnKey"
            android:value="wge_maxthon_android_zssq"/>
        <meta-data
            android:name="thirdparty_appid"
            android:value="zhuishushenqi"/>
        <meta-data
            android:name="thirdparty_appkey"
            android:value="seft5933232daa9277581a8b72774fef969205ef116c4c"/>
    </application>
</manifest>
